@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  --toastify-color-success: #729987;
  --toastify-color-error: #FF5449;
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-error: var(--toastify-color-error);
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sequel-sans-medium);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.custom-transition-length-1s{
  transition:  1s; 
}
.custom-transition-length-2s{
  transition:  2s; 
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4b7d8d; 
  border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: transparent; 
}